Assignment/exercise1/images/
Assignment/exercise1/build/
Assignment/exercise1/.vscode/
Assignment/.vscode
Assignment/exercise2/outputs/
Assignment/exercise2/errors/
Assignment/exercise2/*.x
Assignment/exercise2/l_onemkl_p_2024.2.1.105_offline.sh
test/pgm/
Basic/
Assignment/exercise1/outputs/
STREAM/
mpi-benchmarks/
hpl-2.3/
Basic/
Assignment/exercise2/blis/
mine/mpi
.vscode/
